/* stylelint-disable max-nesting-depth */
@import '../../assets/scss/helpers/variables';

.container {
  position: relative;
  width: 100%;

  &.error {
    .button {
      border-color: $red;
      box-shadow: 0 0 0 1px $red;
    }

    .message {
      color: $red;
    }
  }

  &.inline {
    width: auto;

    .button {
      background: transparent;
      border: 0;
      border-radius: 2px;
      height: auto;
      padding: 2px;
      width: auto;

      &[disabled] {
        opacity: 0.5;
      }
    }

    .value {
      font-size: 12px;
      line-height: 18px;
    }

    .arrow {
      height: 12px;
      width: 12px;
    }

    .item {
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
    }
  }
}

.buttonContainer {
  position: relative;
  width: 100%;
}

.button {
  align-items: center;
  background: $white;
  border: 1px solid rgba(107, 119, 140, 0.3);
  border-radius: 4px;
  display: flex;
  height: 44px;
  outline: none;
  padding: 10px 12px;
  width: 100%;

  &:global(.focus-visible) {
    border-color: $blue;
    box-shadow: 0 0 0 1px $blue;
  }

  &[disabled] {
    background: rgba(107, 119, 140, 0.06);
    pointer-events: none;
  }

  &.open {
    .arrow {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.value {
  align-items: center;
  color: $dark;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  margin-right: 4px;

  &.placeholder {
    color: $gray;
  }
}

.label {
  color: $dark;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 4px;
}

.arrow {
  align-items: center;
  display: flex;
  height: 16px;
  justify-content: center;
  margin-left: auto;
  width: 16px;
}

.hint {
  color: $gray;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 4px;
}

.item {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: $gray;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  padding: 8px 12px;
  text-align: left;
  transition: all 0.2s ease-out;
  width: 100%;

  &.active,
  &:hover {
    background: $lightGray;
    color: $dark;
  }

  &:not(:last-child) {
    margin-bottom: 1px;
  }
}
