@import '../../assets/scss/helpers/all';

.wrapper {
  margin: auto;
  padding: 0 20px 0 40px;
}

.imageContainer {
  max-width: 840px;

  img {
    height: 100%;
    width: 100%;
  }
}

.header {
  text-align: center;
}

.title {
  @include h1();
  margin: 0 auto 8px;
  max-width: 284px;
}

.description {
  @include body-m();
  opacity: 0.6;
}

.card {
  backdrop-filter: blur(8px);
  background: rgba($black, 0.6);
  border: 0.5px solid rgba($white, 0.3);
  border-radius: 12px;
  margin-left: auto;
  max-width: 408px;
  padding: 32px 31px;
}

.grid {
  display: grid;
  grid-row-gap: 24px;
}

.padding0 {
  padding: 0 !important;
}

.footer {
  @include body-s();
  display: flex;
  justify-content: space-between;
}

.footerDescription {
  color: rgba($white, 0.6);
  max-width: 233px;

  a {
    color: rgba($white, 0.6);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
