@import '../../assets/scss/helpers/all';

.container {
  position: relative;

  .textLabel {
    @include body-m-semi-bold();
    display: inline-block;
    margin-bottom: 4px;
  }

  .inputContainer {
    align-items: center;
    background-color: $white;
    border: 1px solid rgba($gray, 0.5);
    border-radius: 60px;
    display: flex;
    height: 40px;
    max-height: 100%;
    outline: 0;
    padding-right: 20px;
    position: relative;
    transition: color $transitionSpeed, box-shadow $transitionSpeed, border $transitionSpeed;
    width: 100%;


    > input {
      @include body-m($black);
      background-color: transparent;
      border: 0;
      border-radius: 60px;
      outline: 0;
      padding: 10px 12px;

      &::placeholder {
        color: $gray;
      }

      &:focus {
        background: transparent;
        border-color: unset;
        box-shadow: none;
        color: $black;
      }
    }

    &.error {
      border: 2px solid $secondary;
    }

    &.readonly {
      .inputContainer > input {
        cursor: default;
      }
    }

    &:focus-within:not(.readonly) {
      border: 2px solid $primary;
    }

    &:hover:not([data-disabled='true']):not(:focus-within):not(.error):not(.readonly) {
      border: 2px solid rgba($gray, 0.5);
      color: $gray;
    }

    &[data-disabled='true'] {
      background-color: $grayDark;
      border: 1px solid $gray;
      opacity: 1;
    }
  }

  .infoBlock {
    margin-top: 4px;

    &.infoPositionAbsolute {
      position: absolute;
      top: 100%;
    }

    p {
      margin: 0;
    }
  }

  .textError {
    @include body-s($secondary);
  }

  .hint {
    @include body-s($gray);

    > ul {
      list-style-type: disc;
      padding-left: 12px;
    }
  }

  .rightContent {
    height: 100%;
  }
}
