@import '../../assets/scss/helpers/all';

.wrap {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    'header  header'
    'sidebar  main'
    'footer footer';
  grid-template-columns: 240px auto;
  grid-template-rows: 72px auto 50px;
  overflow: hidden;
  transform: none !important;

  &.isHomePage {
    grid-template-areas:
      'main main'
      'main main'
      'footer  footer';
  }
}

.headerWrapper {
  border-bottom: 0.5px solid rgba($white, 0.3);
  grid-area: header;
  z-index: 2;
}

.footerWrapper {
  grid-area: footer;
  z-index: 1;
}

.contentWrapper {
  grid-area: main;
  overflow: auto;
  z-index: 1;
}

.sidebarWrapper {
  grid-area: sidebar;
  z-index: 1;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

.backgroundImage {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(70px);
  height: 100%;
  left: 0;
  max-height: 806px;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;

  &.offsetBg {
    top: -35%;
  }

  img {
    height: 98%;
    object-fit: cover;
    width: 100%;
  }
}

.main {
  display: grid;
  height: 100%;
  margin: auto;
  max-width: 1680px;
  transform: none !important;
  z-index: 0 !important;
}
