@import '../../assets/scss/helpers/all';

.closeIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}

.shadow {
  background: $gradient1;
  bottom: 0;
  filter: blur(120px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.background {
  background-color: $black;
  border-radius: 12px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.content {
  position: relative;
  text-align: center;
  z-index: 2;
}

.title {
  @include h3();
  margin: 0 auto 24px;
  max-width: 129px;
}

.qrCodeContainer {
  background-color: $white;
  margin: 0 auto 24px;
  max-width: 192px;
}

.qrCode {
  border-radius: 6px;
  overflow: hidden;
}

.button {
  margin: auto;
}
