@import '../../assets/scss/helpers/all';

.icon {
  display: flex;
  justify-content: center;
}

.text {
  @include h3();
  margin-top: 24px;
  text-align: center;
}

.panel {
  margin-top: 36px;
}

.shadow {
  background: $gradient1;
  bottom: 0;
  filter: blur(120px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.background {
  background-color: $black;
  border-radius: 12px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 1;
}
