@import '../../../assets/scss/helpers/all';

.item {
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  min-height: 48px;
  outline: 0;
  padding: 14px 20px;
  transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
  width: 220px;

  &[disabled] {
    .label {
      color: rgba($white, 0.3);
    }

    .iconWrapper svg {
      stroke: rgba($white, 0.3);
    }
  }

  &.activeItem {
    background-color: rgba($white, 0.2);
    border-color: rgba($white, 0.3);
  }

  &:hover:not([disabled]):not(.activeItem),
  &:global(.focus-visible) {
    border-color: rgba($white, 0.6);
  }
}

.iconWrapper {
  margin-right: 10px;
  max-width: 100%;
  object-fit: contain;
}

.label {
  @include body-l-semi-bold(); }
