@import '../../assets/scss/helpers/all';

.label {
  &:global.ui.grey.label {
    background-color: rgba($boulder, 0.5) !important;
  }

  &:global.ui.label {
    @include overline-label($white);
    padding: 2px 8px;

    &.green {
      background-color: rgba($malachite, 0.3) !important;
      border-color: rgba($malachite, 0.3) !important;
    }

    &.red {
      background-color: rgba($carnation, 0.3) !important;
      border-color: rgba($carnation, 0.3) !important;
    }
  }
}
