@import '../../../assets/scss/helpers/all';

.root {
  background-color: rgba($black, 0.6);
  border: 0.5px solid rgba($white, 0.3);
  border-radius: 6px;
  max-width: 548px;
  padding: 40px;
  width: 100%;
}

.fields {
  margin-top: 20px;
}

.field {
  &:not(:first-child) {
    margin-top: 20px;
  }
}

.table {
  border: 0.5px solid rgba($white, 0.3);
  border-radius: 6px;
  margin-top: 20px;
  padding: 20px;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &:not(:first-child) {
    margin-top: 16px;
  }
}

.key {
  @include body-m();
}

.value {
  @include body-m-semi-bold();
}

.button {
  margin-top: 20px;
  max-width: 240px;
}

.hintRow {
  align-items: center;
  display: flex;
  margin-top: 24px;
}

.hint {
  @include body-m($dustyGray);
  margin-left: 4px;
}
