@import '../../../assets/scss/helpers/all';

.dropdownContainer {
  height: 100%;
  position: static;
  width: 100%;

  > div {
    height: 100%;
    position: static;

    > button {
      border: unset;
      height: 100%;
      padding: 0;
      width: 94px;

      &:global(.focus-visible) {
        border: unset;
      }

      &:hover:not([disabled]):not(:focus-visible) {
        border: unset;
      }
    }
  }
}

.currency {
  margin: 0;

  svg {
    margin-right: 8px;
  }
}

.totalAmount {
  color: $gray;
  display: inline-block;
  margin-left: 8px;
}
