@import '../../assets/scss/helpers/all';

.sidebar {
  background-color: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  height: 100%;
  padding: 40px 0 0 20px;
  position: static !important;
}

.menuList {
  border-bottom: 0.5px solid rgba($white, 0.3);
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.icon {
  margin-right: 10px;
}
