@import '../../../../assets/scss/helpers/all';

.card {
  align-self: start;
  display: flex;
}

.address {
  @include body-m($dustyGray);
  margin-right: 16px;
  max-width: 250px;
  overflow-wrap: break-word;
}

.panel {
  display: flex;
  gap: 8px;
}
