@import '../../assets/scss/helpers/all';

.topBlock {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.label {
  @include body-m-semi-bold();
  display: inline-block;
}
