/* stylelint-disable max-nesting-depth */
@import '../../assets/scss/helpers/all';

.wrapper {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  min-height: 22px;
  outline: 0;
  padding: 0 3px;
  position: relative;
  width: auto;

  &:hover:not(.disabled) {
    .checkbox {
      &:not(:checked) {
        + .icon {
          border-color: rgba($white, 0.3);

          &::before {
            background-image: url('../../assets/images/icons/check.svg');
          }
        }
      }

      &:checked + .icon {
        &::before {
          background-image: url('../../assets/images/icons/check-white.svg');
        }

        &::after {
          background-color: rgba($white, 0.2);
          border-radius: 4px;
          bottom: -2px;
          content: '';
          display: block;
          left: -2px;
          position: absolute;
          right: -2px;
          top: -2px;
        }
      }
    }
  }

  &:global(.focus-visible) {
    border: 1px solid rgba($white, 0.3);

    &:not(:checked) {
      .icon {
        border-color: rgba($white, 0.3);
      }
    }
  }

  &.disabled {
    opacity: 0.5;

    .checkbox:checked + .icon {
      background-color: $gray;
      border-color: $gray;
    }
  }
}

.checkbox {
  opacity: 0;
  position: absolute;

  &:checked + .icon {
    background-color: $primary;
    border-color: $primary;

    &::before {
      background-color: $primary;
      background-image: url('../../assets/images/icons/check-white.svg');
    }
  }
}


.icon {
  border: 2px solid rgba($gray, 0.3);
  border-radius: 4px;
  display: block;
  height: 16px;
  min-width: 16px;
  position: relative;
  width: 16px;

  &::before {
    background-color: $white;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.labelArea {
  @include body-m();
  margin-left: 8px;
}
