@import '../../assets/scss/helpers/all';

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  padding: 42px;
}

.title {
  @include body-l-semi-bold();
}

.text {
  @include body-l($dustyGray);
  max-width: 360px;
  text-align: center;
}
