@import '../../../assets/scss/helpers/all';


.item {
  @include body-l-semi-bold($gray);
  background-color: transparent;
  outline: 0;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  transition: border-color 0.3s, color 0.3s;

  &::after {
    background-color: transparent;
    content: '';
    display: block;
    height: 2px;
    margin-left: -4px;
    margin-top: 1px;
    position: absolute;
    top: 100%;
    transition: background-color 0.3s;
    width: 100%;
  }

  &:hover:not([disabled]),
  &:global(.focus-visible) {
    color: $white;

    &::after {
      background-color: $white;
    }
  }

  &.activeItem {
    color: $primary;

    &::after {
      background-color: $primary;
    }
  }

  &[disabled] {
    color: rgba($white, 0.3);
  }

  &:focus {
    outline: 0;
  }
}

.label {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0 4px;
}
